#menu {
  float: left;
  height:680px; 
  border:1px solid gray; 
  padding-left: 10px;
  padding-top: 10px;
  width:210px;
  overflow-y: auto;
  
}
#mainView{
  height:680px; 
  border:1px solid gray; ;
  overflow: hidden;
  overflow-y: auto;
}

#header{
  position: relative;
}

.tab-pane{
  margin:5px;
}
.modal-body{
  margin:15px;
}


@media only screen and (max-width: 768px) {
  /*for mobile phone */
  [class*="col-sm-3"] {
      width: 100%;
  }
  .btn-primary{
    margin:10px;
  }

}
#displayMenu{
  margin:0 0 0 10px ;
  font-size:17px;
  cursor:pointer;  
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}
@media only screen and (max-width: 1100px) {
  #menu{
    display:none;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    background-color: white;
    overflow-y: auto;
    transition: 0.5s;

    }
  #displayMenu{
    display:block;
  }
}

textarea {
  resize: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}
/* ---------------------------------------------------------- */

.modifyPadding{
  padding: 5px 5px 5px 5px;
}

.modifyPadding select{
  padding:0 0 0 2px;
}

.modifyPadding input{
  padding:0 0 0 5px;
}

.line-up{
  float:left;
  padding:0px 20px;
}

button:focus {
  outline: none;
}

.btn-primary { 
  color: #ffffff; 
  background-color: #04B9D1; 
  border-color: #130269; 
  margin-top:24px;
} 

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #ffffff; 
  background-color: #0295A8; 
  border-color: #130269; 
} 

.table-fixed thead {
  width: 98%;
  
}

.table-fixed tbody {
  height: 230px;
  overflow-y: scroll;
  width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td {
  float: left;
 }
  
.table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
 }
 

 td:empty:before {
  content: "\200b";
 } 

 td, th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 }

.addColor{
  color: blue;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* --------------------SYSTEM OVERVIEW---------------------- */


.sysView_node {
  min-height: 80px;
  width:100%;
}

.sysView_node button {
  background-color: #EEEEEE;
  font-size:70%; 
  text-align: left;
  min-width: 80px;
  height: 80px;

  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.sysView_mio {
  margin-top:10px;
  border-bottom: solid black 2px;
  width: 100%;
  min-height: 45px;

}

.sysView_mio a {
  min-width:45px;
  height: 40px;

  margin-left: 20px;
  overflow: hidden;
  
}

.sysView_XY {
  width:100%;
  min-height: 35px;
}


#sysView_portDisplay {
  padding: 2px;
  width:100%;
  
}

.addBorder {

  box-shadow: 0px 0px 0px 5px #00A4E9 inset;
  box-sizing: border-box;
}

.addBGColor {
  background-color: #E5E5E5;
  
}

.addPortStyle {
  width: 18%;
  height: 70px;
  padding: 0px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 1px;

  background-color: #EEEEEE;
}
