#menu {
  float: left;
  min-height:580px; border:1px solid gray; 
  width:150px;
  

}
#mainView{
  min-height:580px; border:1px solid gray; ;
  overflow: hidden;
}


#header{
  position: relative;
}

#setupFac,#portMap{
  margin:20px;
}

@media only screen and (max-width: 768px) {
    /*for mobile phone */
    [class*="col-sm-3"] {
        width: 100%;
    }
}
#displayMenu{
  margin:0 0 0 10px ;
  font-size:17px;
  /* cursor:pointer; */
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}


@media only screen and (max-width: 1100px) {
  #menu{
    display: none;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    background-color: white;
    }
  #displayMenu{
    display:block;
  }
}
/* ---------------------------------------------------------- */

.line-up{
    float:left;
    padding:0px 20px;
}
.port {
    margin: 2px;
    min-width: 18%;
}
.port:hover {
    background-color: lightblue;
}

.btn-primary { 
  color: #ffffff; 
  background-color: #04B9D1; 
  border-color: #130269; 
  margin: 10px;
} 

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #ffffff; 
  background-color: #0295A8; 
  border-color: #130269; 
} 
 
.ckt {
    margin: 2px;
    min-width: 45%;
}
.ckt:hover {
    background-color: lightblue;
}

.table-fixed thead {
  width: 100%;
  background-color:#f5f5f5;
}

.table-fixed tbody {
  height: 230px;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td {
  float: left;
 }
  
.table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
  color: black;
 }
 

 td:empty:before {
  content: "\200b";
 } 

.addColor{
  color: red;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

